@import "./../../styles/default.scss";

.item {
  .cardMeli {
    padding: 15px 0;
    border-bottom: 1px solid $secondaryMeli;
    .picture {
      img {
        border-radius: 5px;
        width: 150px;
        height: 150px;
      }
    }
    .detail {
      margin-left: 10px;
      width: 60%;
      .title {
        display: inline-block;
        text-decoration: none;
        color: black;
        font-size: 20px;
        width: 70%;
      }
    }
    .price {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 10px 0;
      p {
        margin: 0;
        font-size: 20px;
      }
      .free {
        margin-left: 10px;
      }
    }
    .city {
      p {
        color: $terMeli;
        font-size: 13px;
      }
    }
  }
}
